[Unit]
Description=Simple status page
#After=getty@tty2.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/statuspage
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
Restart=always

[Install]
WantedBy=default.target
